# Loading packages and data

In [ ]:
import sys                                                                      # Importing packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 

pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs (it has 27 columns, which is wider than the notebook)
                                                                                # This sets it up to dispaly with a horizontal scroll instead of hiding the middle columns

dlv = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/deliveries.csv")

3. Data Profiling

In [ ]:
dlv.dtypes

In [3]:
dlv.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
dlv.describe(include = 'all')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
count,164750.000000,164750.000000,164750,164750,164750.000000,164750.000000,164750,164750,164750,164750.000000,164750.000000,164750.000000,164750.000000,164750.000000,164750.000000,164750.000000,164750.000000,164750.000000,8157,8157,5918
unique,NaN,NaN,14,14,NaN,NaN,488,484,378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,464,9,476
top,NaN,NaN,Mumbai Indians,Mumbai Indians,NaN,NaN,V Kohli,SK Raina,Harbhajan Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SK Raina,caught,KD Karthik
freq,NaN,NaN,20673,20573,NaN,NaN,3879,3832,3182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146,4861,145
mean,977.951757,1.482307,NaN,NaN,10.151879,3.616243,NaN,NaN,NaN,0.000492,0.037184,0.004898,0.021548,0.004200,0.000061,1.237238,0.067891,1.305129,NaN,NaN,NaN
std,2147.671843,0.501592,NaN,NaN,5.675666,1.807398,NaN,NaN,NaN,0.022168,0.254087,0.115006,0.196410,0.071111,0.017421,1.603511,0.345144,1.596255,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,175.000000,1.000000,NaN,NaN,5.000000,2.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
50%,349.000000,1.000000,NaN,NaN,10.000000,4.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,NaN
75%,521.000000,2.000000,NaN,NaN,15.000000,5.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,NaN
max,7953.000000,4.000000,NaN,NaN,20.000000,9.000000,NaN,NaN,NaN,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000,NaN,NaN,NaN

__Observations__
As we can see the maximum value for total runs is 10 which actually seems absurd, we need to check the data where the total runs runs are more than 7 (which is possible, no ball and six)

In [5]:
dlv.sample(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
153074,7905,1,Kings XI Punjab,Chennai Super Kings,8,6,KL Rahul,CH Gayle,Harbhajan Singh,0,0,0,0,0,0,0,0,0,KL Rahul,caught,DJ Bravo
130227,549,2,Rajasthan Royals,Mumbai Indians,8,6,SR Watson,SV Samson,Harbhajan Singh,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
124246,524,1,Kings XI Punjab,Mumbai Indians,9,6,DA Miller,M Vijay,Harbhajan Singh,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
55256,234,1,Chennai Super Kings,Mumbai Indians,9,2,ML Hayden,SK Raina,KA Pollard,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
19783,84,2,Kings XI Punjab,Royal Challengers Bangalore,18,5,IK Pathan,DPMD Jayawardene,JH Kallis,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
100452,424,1,Kolkata Knight Riders,Delhi Daredevils,9,2,DB Das,JH Kallis,IK Pathan,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
1064,5,1,Royal Challengers Bangalore,Delhi Daredevils,17,5,KM Jadhav,P Negi,Z Khan,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
62493,264,2,Chennai Super Kings,Pune Warriors,7,4,M Vijay,S Badrinath,M Kartik,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
149826,634,1,Sunrisers Hyderabad,Kolkata Knight Riders,17,6,Yuvraj Singh,NV Ojha,Kuldeep Yadav,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
138768,587,1,Royal Challengers Bangalore,Delhi Daredevils,15,6,SR Watson,V Kohli,A Mishra,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN

In [6]:
import pandas_profiling                                                      # Get a quick overview for all the variables using pandas_profiling                                         
profile = pandas_profiling.ProfileReport(dlv)
profile.to_file(outputfile="deliveries_profiling.html")

__3.6. Initial observations:__
*  Summary of data types in this dataset:
   -  We have 5 duplicate rows. which needs to be looked at.
   -  Teams (batting team and bowling team has 14 distinc data. Therefore we need to categorize it.
   -  Players (batsmen, bowler, player_dismissed and fielder) also needs to be categorized.
   -  There are missing vales in player_dismissed, dismissal_kind and fielder columns which are okay.
   -  The maixmum value of total_runs is 10 which needs to be checked further.

In [7]:
# Checking rows which have got a value of total_runs more than 7

total_run_check_dlv = dlv[dlv.total_runs > 7]
total_run_check_dlv

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150968,7896,1,Royal Challengers Bangalore,Kolkata Knight Riders,5,1,BB McCullum,V Kohli,Kuldeep Yadav,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
151395,7897,2,Sunrisers Hyderabad,Rajasthan Royals,13,6,S Dhawan,KS Williamson,D Short,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
151652,7898,2,Chennai Super Kings,Kolkata Knight Riders,20,1,DJ Bravo,RA Jadeja,R Vinay Kumar,0,0,0,0,1,0,7,1,8,NaN,NaN,NaN
151833,7900,1,Mumbai Indians,Sunrisers Hyderabad,5,4,Ishan Kishan,E Lewis,Rashid Khan,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
152292,7902,1,Mumbai Indians,Delhi Daredevils,1,6,E Lewis,AS Yadav,TA Boult,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
152856,7904,1,Rajasthan Royals,Royal Challengers Bangalore,13,6,JC Buttler,SV Samson,YS Chahal,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
153391,7906,1,Kolkata Knight Riders,Delhi Daredevils,19,7,S Gill,T Curran,CH Morris,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
153511,7907,1,Mumbai Indians,Royal Challengers Bangalore,4,5,E Lewis,RG Sharma,Washington Sundar,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
153518,7907,1,Mumbai Indians,Royal Challengers Bangalore,5,5,E Lewis,RG Sharma,Mohammed Siraj,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
153986,7909,1,Kings XI Punjab,Sunrisers Hyderabad,2,2,CH Gayle,KL Rahul,CJ Jordan,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
154788,7912,1,Delhi Daredevils,Royal Challengers Bangalore,19,4,RR Pant,R Tewatia,CR Woakes,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
155509,7915,1,Kings XI Punjab,Delhi Daredevils,18,4,AJ Tye,R Ashwin,DT Christian,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
155660,7916,1,Sunrisers Hyderabad,Mumbai Indians,2,2,S Dhawan,KS Williamson,MJ McClenaghan,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
155690,7916,1,Sunrisers Hyderabad,Mumbai Indians,6,6,YK Pathan,KS Williamson,MJ McClenaghan,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
155974,7917,1,Royal Challengers Bangalore,Chennai Super Kings,16,1,Mandeep Singh,C de Grandhomme,RA Jadeja,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
156797,7920,2,Mumbai Indians,Chennai Super Kings,9,5,E Lewis,AS Yadav,Imran Tahir,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
157658,7924,1,Royal Challengers Bangalore,Mumbai Indians,10,2,BB McCullum,V Kohli,HH Pandya,0,0,0,0,1,0,7,1,8,NaN,NaN,NaN
157723,7924,1,Royal Challengers Bangalore,Mumbai Indians,20,6,C de Grandhomme,UT Yadav,MJ McClenaghan,0,0,0,0,1,0,7,1,8,NaN,NaN,NaN
157768,7924,2,Mumbai Indians,Royal Challengers Bangalore,7,4,JP Duminy,KA Pollard,YS Chahal,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
157812,7924,2,Mumbai Indians,Royal Challengers Bangalore,14,2,HH Pandya,KH Pandya,C de Grandhomme,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
158159,7926,1,Chennai Super Kings,Kolkata Knight Riders,20,4,RA Jadeja,MS Dhoni,PP Chawla,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
158215,7926,2,Kolkata Knight Riders,Chennai Super Kings,9,4,R Singh,S Gill,RA Jadeja,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
158336,7927,1,Kings XI Punjab,Mumbai Indians,10,4,CH Gayle,Yuvraj Singh,HH Pandya,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
158515,7927,2,Mumbai Indians,Kings XI Punjab,19,6,KH Pandya,RG Sharma,AJ Tye,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
159131,7930,2,Kolkata Knight Riders,Mumbai Indians,2,6,CA Lynn,S Gill,JJ Bumrah,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
159222,7930,2,Kolkata Knight Riders,Mumbai Indians,17,6,KD Karthik,SP Narine,JJ Bumrah,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
159250,7931,1,Rajasthan Royals,Kings XI Punjab,2,4,JC Buttler,AM Rahane,AS Rajpoot,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
159921,7933,2,Kings XI Punjab,Rajasthan Royals,13,1,KL Rahul,AR Patel,K Gowtham,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
161072,7938,2,Royal Challengers Bangalore,Delhi Daredevils,1,5,PA Patel,M Ali,S Lamichhane,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
161560,7940,2,Rajasthan Royals,Mumbai Indians,1,2,D Short,JC Buttler,JJ Bumrah,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
163046,7947,1,Sunrisers Hyderabad,Kolkata Knight Riders,3,7,SP Goswami,S Dhawan,AD Russell,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
163370,7948,1,Delhi Daredevils,Mumbai Indians,16,3,RR Pant,V Shankar,HH Pandya,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
164022,7951,1,Kolkata Knight Riders,Rajasthan Royals,1,6,RV Uthappa,CA Lynn,K Gowtham,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN

In [8]:
total_run_check_dlv.describe(include = 'all')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
count,33.000000,33.000000,33,33,33.000000,33.000000,33,33,33,33.0,33.000000,33.000000,33.000000,33.000000,33.0,33.000000,33.000000,33.000000,0.0,0.0,0.0
unique,NaN,NaN,8,8,NaN,NaN,25,26,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
top,NaN,NaN,Mumbai Indians,Mumbai Indians,NaN,NaN,E Lewis,KS Williamson,JJ Bumrah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,8,9,NaN,NaN,4,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,7920.363636,1.363636,NaN,NaN,9.757576,4.151515,NaN,NaN,NaN,0.0,1.212121,1.454545,1.212121,0.090909,0.0,4.515152,3.969697,8.484848,NaN,NaN,NaN
std,15.074437,0.488504,NaN,NaN,6.928340,1.889464,NaN,NaN,NaN,0.0,2.175971,1.954017,1.866775,0.291937,0.0,0.905580,1.045372,0.870388,NaN,NaN,NaN
min,7896.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.0,4.000000,1.000000,8.000000,NaN,NaN,NaN
25%,7907.000000,1.000000,NaN,NaN,3.000000,2.000000,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.0,4.000000,4.000000,8.000000,NaN,NaN,NaN
50%,7924.000000,1.000000,NaN,NaN,9.000000,4.000000,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.0,4.000000,4.000000,8.000000,NaN,NaN,NaN
75%,7930.000000,2.000000,NaN,NaN,16.000000,6.000000,NaN,NaN,NaN,0.0,0.000000,4.000000,4.000000,0.000000,0.0,5.000000,4.000000,8.000000,NaN,NaN,NaN
max,7951.000000,2.000000,NaN,NaN,20.000000,7.000000,NaN,NaN,NaN,0.0,5.000000,4.000000,4.000000,1.000000,0.0,7.000000,5.000000,10.000000,NaN,NaN,NaN

In [9]:
total_run_check_dlv.total_runs.unique()

array([10,  8], dtype=int64)

__Final Observations :__
There are 33 outliers where total_runs is more than 7. We will split this data set into 2 groups as the total_runs has 2 unique values(8 and 10).

4. __Data Normalization__

4.1. __Standardize all column headers to lower case__

In [10]:
dlv                                                                         # to each item of a given iterable.
dlv.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

__4.2 Errors in Categorical data(Teams)__

In [11]:
# all the unique teams
np.sort(dlv['bowling_team'].unique())

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Daredevils',
       'Gujarat Lions', 'Kings XI Punjab', 'Kochi Tuskers Kerala',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Pune Warriors',
       'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

We can see that name of the pune team has been repeated with two instances - Rising Pune Supergiant and Rising Pune Supergiants. So we will change the name to Rising Pune Supergiant for all the cases.

In [12]:
dlv['batting_team'] = np.where(dlv['batting_team'] == 'Rising Pune Supergiants' , 'Rising Pune Supergiant', dlv['batting_team'])

In [13]:
np.sort(dlv['bowling_team'].unique())

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Daredevils',
       'Gujarat Lions', 'Kings XI Punjab', 'Kochi Tuskers Kerala',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Pune Warriors',
       'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

Here also the  same error can be spotted. We will replace it Rising Pune Supergiant.

In [14]:
dlv['bowling_team'] = np.where(dlv['bowling_team'] == 'Rising Pune Supergiants' , 'Rising Pune Supergiant', dlv['bowling_team'])

In [ ]:
# 4.3. Missing Data and its imputation

In [15]:
#missing data
total = dlv.isnull().sum().sort_values(ascending=False)
percent = (dlv.isnull().sum()/dlv.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)
print(missing_data)

                   Total   Percent
fielder           158832  0.964079
player_dismissed  156593  0.950489
dismissal_kind    156593  0.950489
bowler                 0  0.000000
inning                 0  0.000000
batting_team           0  0.000000
bowling_team           0  0.000000
over                   0  0.000000
ball                   0  0.000000
batsman                0  0.000000
non_striker            0  0.000000
wide_runs              0  0.000000
is_super_over          0  0.000000
bye_runs               0  0.000000
legbye_runs            0  0.000000
noball_runs            0  0.000000
penalty_runs           0  0.000000
batsman_runs           0  0.000000
extra_runs             0  0.000000
total_runs             0  0.000000
match_id               0  0.000000

We can see there are no missing values in any of the columns except fielder, player_dismissed and dismissal. The rows cannot be filled with anything as they represent that the batting team has not lost a wicket. We cannnot however exclude these columns as they will be required for computing the best bowlers and the highest scores of the batsmen and decide which team has won.

In [ ]:
4.4. Outliers Treatment
For the analysis of the outlier data, we have considered the rules of cricket. The outliers exist when there are any extra runs awarded like wide or no ball. The problem is mostly related to the distribution of the run between the run scored by the batsman and the extra runs.\ as we will see. 

As we recall we had 33 outliers which had 8 and 10 runs as total_runs.

In [16]:
dlv[dlv.total_runs == 8]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
151395,7897,2,Sunrisers Hyderabad,Rajasthan Royals,13,6,S Dhawan,KS Williamson,D Short,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
151652,7898,2,Chennai Super Kings,Kolkata Knight Riders,20,1,DJ Bravo,RA Jadeja,R Vinay Kumar,0,0,0,0,1,0,7,1,8,NaN,NaN,NaN
151833,7900,1,Mumbai Indians,Sunrisers Hyderabad,5,4,Ishan Kishan,E Lewis,Rashid Khan,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
152292,7902,1,Mumbai Indians,Delhi Daredevils,1,6,E Lewis,AS Yadav,TA Boult,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
152856,7904,1,Rajasthan Royals,Royal Challengers Bangalore,13,6,JC Buttler,SV Samson,YS Chahal,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
153391,7906,1,Kolkata Knight Riders,Delhi Daredevils,19,7,S Gill,T Curran,CH Morris,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
153986,7909,1,Kings XI Punjab,Sunrisers Hyderabad,2,2,CH Gayle,KL Rahul,CJ Jordan,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
154788,7912,1,Delhi Daredevils,Royal Challengers Bangalore,19,4,RR Pant,R Tewatia,CR Woakes,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
155509,7915,1,Kings XI Punjab,Delhi Daredevils,18,4,AJ Tye,R Ashwin,DT Christian,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
155690,7916,1,Sunrisers Hyderabad,Mumbai Indians,6,6,YK Pathan,KS Williamson,MJ McClenaghan,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
155974,7917,1,Royal Challengers Bangalore,Chennai Super Kings,16,1,Mandeep Singh,C de Grandhomme,RA Jadeja,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
156797,7920,2,Mumbai Indians,Chennai Super Kings,9,5,E Lewis,AS Yadav,Imran Tahir,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
157658,7924,1,Royal Challengers Bangalore,Mumbai Indians,10,2,BB McCullum,V Kohli,HH Pandya,0,0,0,0,1,0,7,1,8,NaN,NaN,NaN
157723,7924,1,Royal Challengers Bangalore,Mumbai Indians,20,6,C de Grandhomme,UT Yadav,MJ McClenaghan,0,0,0,0,1,0,7,1,8,NaN,NaN,NaN
158159,7926,1,Chennai Super Kings,Kolkata Knight Riders,20,4,RA Jadeja,MS Dhoni,PP Chawla,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
158336,7927,1,Kings XI Punjab,Mumbai Indians,10,4,CH Gayle,Yuvraj Singh,HH Pandya,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
158515,7927,2,Mumbai Indians,Kings XI Punjab,19,6,KH Pandya,RG Sharma,AJ Tye,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
159131,7930,2,Kolkata Knight Riders,Mumbai Indians,2,6,CA Lynn,S Gill,JJ Bumrah,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
159222,7930,2,Kolkata Knight Riders,Mumbai Indians,17,6,KD Karthik,SP Narine,JJ Bumrah,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
159250,7931,1,Rajasthan Royals,Kings XI Punjab,2,4,JC Buttler,AM Rahane,AS Rajpoot,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
159921,7933,2,Kings XI Punjab,Rajasthan Royals,13,1,KL Rahul,AR Patel,K Gowtham,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
161072,7938,2,Royal Challengers Bangalore,Delhi Daredevils,1,5,PA Patel,M Ali,S Lamichhane,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
163046,7947,1,Sunrisers Hyderabad,Kolkata Knight Riders,3,7,SP Goswami,S Dhawan,AD Russell,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN
163370,7948,1,Delhi Daredevils,Mumbai Indians,16,3,RR Pant,V Shankar,HH Pandya,0,0,0,4,0,0,4,4,8,NaN,NaN,NaN
164022,7951,1,Kolkata Knight Riders,Rajasthan Royals,1,6,RV Uthappa,CA Lynn,K Gowtham,0,0,4,0,0,0,4,4,8,NaN,NaN,NaN

As we can see the outlier is coming because data of leg bye or bye has been added to the indvidual score of the batsman as well which is wrong because a bats man cant score if a bye or leg bye of four runs is there. There is also a a scenario where in a no ball a batsman hits 7 runs which though is theoritacally possible but quite impractical. Hence we have limited the increment of the batsman's score to 6 and added 1 extra run for the no ball.

In [17]:
dlv[dlv.total_runs == 10]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150968,7896,1,Royal Challengers Bangalore,Kolkata Knight Riders,5,1,BB McCullum,V Kohli,Kuldeep Yadav,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
153511,7907,1,Mumbai Indians,Royal Challengers Bangalore,4,5,E Lewis,RG Sharma,Washington Sundar,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
153518,7907,1,Mumbai Indians,Royal Challengers Bangalore,5,5,E Lewis,RG Sharma,Mohammed Siraj,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
155660,7916,1,Sunrisers Hyderabad,Mumbai Indians,2,2,S Dhawan,KS Williamson,MJ McClenaghan,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
157768,7924,2,Mumbai Indians,Royal Challengers Bangalore,7,4,JP Duminy,KA Pollard,YS Chahal,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
157812,7924,2,Mumbai Indians,Royal Challengers Bangalore,14,2,HH Pandya,KH Pandya,C de Grandhomme,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
158215,7926,2,Kolkata Knight Riders,Chennai Super Kings,9,4,R Singh,S Gill,RA Jadeja,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN
161560,7940,2,Rajasthan Royals,Mumbai Indians,1,2,D Short,JC Buttler,JJ Bumrah,0,5,0,0,0,0,5,5,10,NaN,NaN,NaN

Here also the outliers are arising because the extras from the wide ball has been added to the batsman's individal score. So we will change the batsman's individual score to 0 and and just keep the extra runs.

In [18]:
def clean_total_runs(df) :
    if(df.total_runs > 7 & df.wide_runs != 0) :
        return 0, df.extra_runs
    elif(df.total_runs > 7 & df.bye_runs != 0) :
        return 0, df.extra_runs
    elif(df.total_runs > 7 & df.legbye_runs != 0) :
        return 0, df.extra_runs
    elif(df.total_runs > 7 & df.noball_runs != 0) :
        return 6, (6 + df.extra_runs)
    else :
        return df.batsman_runs, df.total_runs

In [19]:
dlv['batsman_runs'], dlv['total_runs'] = zip(*dlv.apply(clean_total_runs, axis=1))

__Removing Duplicates__

In [20]:
dlv[dlv.duplicated(keep=False)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
52169,221,1,Mumbai Indians,Delhi Daredevils,4,1,SR Tendulkar,C Madan,PJ Sangwan,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
52178,221,1,Mumbai Indians,Delhi Daredevils,4,1,SR Tendulkar,C Madan,PJ Sangwan,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
162803,7946,1,Rajasthan Royals,Royal Challengers Bangalore,4,4,AM Rahane,RA Tripathi,UT Yadav,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
162804,7946,1,Rajasthan Royals,Royal Challengers Bangalore,4,5,AM Rahane,RA Tripathi,UT Yadav,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
162805,7946,1,Rajasthan Royals,Royal Challengers Bangalore,4,4,AM Rahane,RA Tripathi,UT Yadav,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
162806,7946,1,Rajasthan Royals,Royal Challengers Bangalore,4,5,AM Rahane,RA Tripathi,UT Yadav,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
162863,7946,1,Rajasthan Royals,Royal Challengers Bangalore,13,5,RA Tripathi,AM Rahane,YS Chahal,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
162870,7946,1,Rajasthan Royals,Royal Challengers Bangalore,13,5,RA Tripathi,AM Rahane,YS Chahal,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
162963,7946,2,Royal Challengers Bangalore,Rajasthan Royals,10,1,AB de Villiers,Mandeep Singh,I Sodhi,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
162964,7946,2,Royal Challengers Bangalore,Rajasthan Royals,10,1,AB de Villiers,Mandeep Singh,I Sodhi,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN

In [21]:
dlv.drop_duplicates(inplace = True)

__Records__

In [22]:
# importing packages for data vizualisation
from bokeh.plotting import Figure,figure, output_file, show, output_notebook
from bokeh.layouts import column
from bokeh.models import ColumnDataSource, CustomJS, Slider, HoverTool, ColorBar
from bokeh.palettes import Spectral5
from bokeh.transform import factor_cmap, dodge
from bokeh.core.properties import value
output_notebook()

In [24]:
dlv_new = dlv.copy(deep=True)  # making a new copy of the notebook

__Top 5 Batsmen__

In [25]:
batsmen = dlv_new.groupby(['batsman', 'match_id'], as_index=False).sum()[['batsman','match_id','batsman_runs']]
batsmen_most_runs = batsmen.groupby('batsman', as_index=False).sum()[['batsman', 'batsman_runs']]
batsmen_5_most_runs = batsmen_most_runs.nlargest(5, 'batsman_runs')
batsmen_5_most_runs

        batsman  batsman_runs
400    SK Raina          5031
458     V Kohli          4989
347   RG Sharma          4529
143   G Gambhir          4245
364  RV Uthappa          4171

In [26]:
def calculate_batsman_details(df) :
    batsmen_list = []
    for row in df.itertuples() :
        matches = batsmen[batsmen.batsman == row.batsman]['batsman_runs'].count()
        highest = batsmen[batsmen.batsman == row.batsman]['batsman_runs'].max()
        batsmen_list.append({'name' : row.batsman, 'runs' : row.batsman_runs, 'matches' : matches, 'avg' : float(row.batsman_runs/matches), 'highest' : highest})
        
    return batsmen_list

In [27]:
batsmen_5most_runs_details =  pd.DataFrame(calculate_batsman_details(batsmen_5_most_runs))
batsmen_5most_runs_details

         avg  highest  matches        name  runs
0  29.250000      103      172    SK Raina  5031
1  32.187097      118      155     V Kohli  4989
2  27.119760      109      167   RG Sharma  4529
3  28.112583       93      151   G Gambhir  4245
4  26.232704       88      159  RV Uthappa  4171

In [28]:
source = ColumnDataSource(batsmen_5most_runs_details)

plot1 = figure(x_range= batsmen_5most_runs_details.name, plot_height=450, y_axis_label="Runs", title="Batsman with most runs", toolbar_location=None)

plot1.vbar(x='name', top='runs', width=0.6, source = source, legend = 'name',
           fill_color=factor_cmap('name', palette=Spectral5, factors=batsmen_5most_runs_details.name))

plot1.xgrid.grid_line_color = None
plot1.y_range.start = 0
plot1.y_range.end = 6500
hover = HoverTool(tooltips = [('Matches','@matches'),('Runs','@runs'), ('Average', '@avg'),('Highest','@highest')])
plot1.add_tools(hover)
plot1.legend.orientation = "horizontal"
plot1.legend.location = "top_center"

show(plot1)

__Top 5 Bowlers__

In [29]:
dlv_new['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

As we know out of all the ways being dismissed, a bowler does not gets credit if the batsman gets dismissed because of being retired hurt or run out or obstructing the field. There are also nome Nan values.  Our goal is to remove thse data.

In [30]:
dismissal_kind= ['caught', 'bowled', 'lbw', 'caught and bowled','stumped', 'hit wicket']
bowlers= dlv_new[(dlv_new['player_dismissed'].notnull()) & (dlv_new['dismissal_kind'].isin(dismissal_kind))].groupby(['bowler', 'match_id'])['bowler', 'match_id'].agg(
    {"wickets": len}).reset_index()
bowlers.head()

           bowler  match_id  wickets
0  A Ashish Reddy       341        2
1  A Ashish Reddy       346        1
2  A Ashish Reddy       348        1
3  A Ashish Reddy       352        1
4  A Ashish Reddy       356        1

In [31]:
bowlers_most_wickets = bowlers.groupby('bowler', as_index=False).sum()[['bowler', 'wickets']]
bowlers_5_most_wickets = bowlers_most_wickets.nlargest(5, 'wickets')
bowlers_5_most_wickets

              bowler  wickets
272       SL Malinga      154
5           A Mishra      146
215        PP Chawla      139
80          DJ Bravo      136
106  Harbhajan Singh      134

In [32]:
def calculate_wicket_details(df) :
    bowler_list = []
    for row in df.itertuples() :
        matches = bowlers[bowlers.bowler == row.bowler]['bowler'].count()
        highest_wickets = bowlers[bowlers.bowler == row.bowler].max()[['match_id','wickets']]
        runs_in_match = dlv_new[(dlv_new.match_id == highest_wickets.match_id) & (dlv_new.bowler == row.bowler)].groupby('bowler', as_index=False).sum()[['total_runs']]
        bowler_list.append({'name' : row.bowler, 'wickets' : row.wickets, 'matches' : matches, 'best' : str(highest_wickets.wickets) + '/' + str(runs_in_match['total_runs'].iloc[0])})
        
    return bowler_list

In [33]:
top5_bowler_details = pd.DataFrame(calculate_wicket_details(bowlers_5_most_wickets))
top5_bowler_details

   best  matches             name  wickets
0  5/31       85       SL Malinga      154
1  5/19       87         A Mishra      146
2  4/23       91        PP Chawla      139
3  4/46       83         DJ Bravo      136
4  5/29       85  Harbhajan Singh      134

In [34]:
source2 = ColumnDataSource(top5_bowler_details)


plot2 = figure(x_range= top5_bowler_details.name, plot_height=450, title="bowlers with most wickets", toolbar_location=None)



plot2.vbar(x='name', top='wickets', width=0.6, source = source2, legend = 'name',
           fill_color=factor_cmap('name', palette=Spectral5, factors=top5_bowler_details.name))

plot2.xgrid.grid_line_color = None
plot2.y_range.start = 0
plot2.y_range.end = 180
hover = HoverTool(tooltips = [('Matches','@matches'),('Wickets','@wickets'), ('Best', '@best')])
plot2.add_tools(hover)
plot2.legend.orientation = "horizontal"
plot2.legend.location = "top_center"




show(plot2)

__Team Wins__

In [35]:
team_runs_bymatch = dlv_new.groupby(['match_id','inning','batting_team','bowling_team'], as_index=False).sum()[['match_id', 'inning', 'batting_team', 'bowling_team', 'total_runs']]

team_runs_bymatch.head()

,match_id,inning,batting_team,bowling_team,total_runs
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,207
1,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,177
2,2,1,Mumbai Indians,Rising Pune Supergiant,184
3,2,2,Rising Pune Supergiant,Mumbai Indians,187
4,3,1,Gujarat Lions,Kolkata Knight Riders,183

In [36]:
team_win_bymatch = team_runs_bymatch.groupby('match_id').apply(lambda x: x.loc[x.total_runs.idxmax(),['inning', 'batting_team','total_runs']]).reset_index()
team_win_bymatch.head()

   match_id  inning                 batting_team  total_runs
0         1       1          Sunrisers Hyderabad         207
1         2       2       Rising Pune Supergiant         187
2         3       2        Kolkata Knight Riders         184
3         4       2              Kings XI Punjab         164
4         5       1  Royal Challengers Bangalore         157

In [37]:
team_wins_byinning= team_win_bymatch.groupby(['batting_team', 'inning'])['batting_team', 'inning'].agg({"wins": len}).reset_index()
team_wins_byinning

                   batting_team  inning  wins
0           Chennai Super Kings       1    55
1           Chennai Super Kings       2    37
2               Deccan Chargers       1    23
3               Deccan Chargers       2     9
4              Delhi Daredevils       1    34
5              Delhi Daredevils       2    33
6                 Gujarat Lions       1     3
7                 Gujarat Lions       2    11
8               Kings XI Punjab       1    40
9               Kings XI Punjab       2    31
10         Kochi Tuskers Kerala       1     3
11         Kochi Tuskers Kerala       2     4
12        Kolkata Knight Riders       1    39
13        Kolkata Knight Riders       2    42
14               Mumbai Indians       1    61
15               Mumbai Indians       2    39
16                Pune Warriors       1     8
17                Pune Warriors       2     3
18             Rajasthan Royals       1    37
19             Rajasthan Royals       2    36
20       Rising Pune Supergiant       1     6
21       Rising Pune Supergiant       2     8
22  Royal Challengers Bangalore       1    43
23  Royal Challengers Bangalore       2    37
24          Sunrisers Hyderabad       1    36
25          Sunrisers Hyderabad       2    18

In [38]:
team_list = team_wins_byinning['batting_team'].unique()
first_inning = team_wins_byinning[team_wins_byinning.inning == 1]['wins']
second_inning = team_wins_byinning[team_wins_byinning.inning == 2]['wins']
total_wins = np.add(first_inning, second_inning)

data = {'teams' : team_list,
        'first_bat'   : first_inning,
        'second_bat'   : second_inning,
        'total_wins' : total_wins
        }

source = ColumnDataSource(data=data)


p = figure(x_range=team_list, y_range=(0, 70), plot_height=550, title="Team wins by Batting Inning",
           toolbar_location=None, tools="")

p.vbar(x=dodge('teams', -0.25, range=p.x_range), top='first_bat', width=0.2, source=source,
       color="#c9d9d3", legend=value("1st Bat"))

p.vbar(x=dodge('teams',  0.0,  range=p.x_range), top='second_bat', width=0.2, source=source,
       color="#718dbf", legend=value("2nd Bat"))

hover = HoverTool(tooltips = [('Total Wins','@total_wins')])
p.add_tools(hover)


p.x_range.range_padding = 0.1
p.xaxis.major_label_orientation = 1
p.xgrid.grid_line_color = None
p.legend.location = "top_left"
p.legend.orientation = "horizontal"

show(p)

In [ ]:
$ ipython locate